# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Database files
*.sqlite3
*.db

# dotenv
.env
